extends ../../layout

block content
  link(rel="stylesheet", href="/css/notice_detail.css")
  script(src="/js/notice_delete.js")
  div.notice_box
    h1.notice_title #{notice.n_title}
    p.notice_dateauth 작성일: #{notice.n_date} | 작성자: #{notice.n_author}
    div.img_box
        if notice.n_image_name
            img.notice_img(src=`/uploads/${notice.n_image_name}`, width="200px", height="200px")
    section.content 
      pre.notice_content #{notice.n_content}
    div.btn_box
        if user && user.m_role === 'ADMIN'
            a.insert_notice(href=`/notice/${n_num}/detail/update`) 수정
            a.insert_notice.delete_btn(data-n_num= `${n_num}`) 삭제