extends ../../layout

block content
  link(rel='stylesheet' href='./css/notice.css')
  script(src="/js/notice.js")
  h1.n_title 공지사항
  ul.notice_menu
    li No.
    li 공지사항
    li 작성자
    li 작성일자
  div.notice_box
    each notice in row
      ul.notice_content(data-n_num= `${notice.n_num}`)
        li.n=notice.n_num
        li.n=notice.n_title
        li.n=notice.n_author
        li.n=notice.n_date
  if user && user.m_role === 'ADMIN' 
    a.insert_notice(href="/notice/insert") 작성